<html>

  <head>
    <% include templates/head %>
  </head>

  <body>
  <% include partials/navbar %>

    <div class="container contenedor">
      <div class="starter-template text-left">

        <h2>Buscador</h2>

          <div class="form-group">
            <select name="buscador" class="form-control" id="buscador">
            <option value="0" >Elija una opci칩n</option>
            <option value="1" data-id= "{'age': {'$lt : 18'}}">Menor a 18 a침os</option>
            <option value="2" data-id= "{'age': {'$gte : 18'}}">Mayor a 18 a침os</option>
            <option value="3" data-id= "{'sex': 'F'}">Sexo Femenino</option>
            <option value="4" data-id= "{'sex' : 'M'}">Sexo M치sculino</option>
            </select>

          </div>

          
          <button class="btn" id="buscar">Buscar</button>
        </form>
      </div>
      <div id="respuesta-div"><p id="respuesta"></p></div>
      <table class="table" id="tabla">
          <thead class="thead-inverse">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>       
            </tr>
          </thead>
          <tbody id="cuerpo-tabla">
          </tbody>
        </table>


    </div><!--CIERRE DIV CONTENEDOR-->
      
    <% include templates/js %>
  </body>

</html>
